
html {
  background-image: url('bg.png');
}

video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(bg.png) no-repeat;
  background-size: cover;
}

#title {
    position:fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-family: 'Lobster';
    color: white;
}

#info {
    position:fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
	font-family: 'Open Sans', sans-serif;
    color: white;
}

#result {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em;
    margin-left: -15em;
	font-family: 'Open Sans', sans-serif;
    color: white;
}

#divForm {
    position:fixed;
    top: 53%;
    left: 50%;
    width:35em;
    height:19em;
    transform: translate(-50%, -53%);
    background-color:rgba(0,0,0,0.5);
}

#formSongs {
    position:fixed;
    top: 55%;
    left: 35%;
    transform: translate(-35%, -55%);
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    color:white;
}

#submit {
    position:fixed;
    top: 75%;
    left: 150%;
    width: 130px;
    transform: translate(-150%, -75%);
}

#reset {
    position:fixed;
    top: 105%;
    left: 150%;
    width: 130px;
    transform: translate(-150%, -105%);
}

input[type="text"] {
    color:black;
}